body {
  margin: 0;
  font-family: Arial, sans-serif;
  padding: 0;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
  width: 100vw;
}

.AppHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #ccc;
}

.AppTitle {
  display: flex;
  width: 25%;
  border-right: 1px solid #ccc;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  background-color: #eee;
}

.AppRoom {
  display: flex;
  width: 75%;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  background-color: #eee;
}

.AppBody {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.MessageWrapper {
  display: flex;
  flex-direction: column;
  width: 75%;
  flex: 1;
}
